# Database Configuration
# The host address of the PostgreSQL database
DB_HOST=localhost

# The port of the PostgreSQL database
DB_PORT=5430

# The username used to connect to the PostgreSQL database
DB_USER=your_db_user

# The password used to connect to the PostgreSQL database
DB_PASSWORD=your_db_password

# The name of the PostgreSQL database
DB_NAME=your_db_name

# Redis Configuration
# The host address of the Redis server
REDIS_HOST=localhost

# The port of the Redis server
REDIS_PORT=6370
